<p id="notice"><%= notice %></p>

<p>
  <b><%= @flavor.name %> Soup</b>
</p>

<%= link_to 'Prev', prev_flavor_story_path(@flavor), data: { keybinding: 'k' } %>
<%= link_to 'Next', next_flavor_story_path(@flavor), data: { keybinding: 'j' } %>

<% if @story %>
<%= render @story %>
<% else %>
<h2> Failed to fetch story! </h2>
<% end %>


<%= link_to 'Start',start_flavor_story_path(@flavor), data: { keybinding: 'q' } %>
<%= link_to 'Prev (k)', prev_flavor_story_path(@flavor) %>
<%= link_to 'Next (j)', next_flavor_story_path(@flavor) %>
<p></p>

<p>
  <b>Read index:</b>
  <%= @flavor.read_index %>
</p>


<%= link_to 'Edit', edit_flavor_path(@flavor) %> |
<%= link_to 'Back', flavors_path, data: { keybinding: 'b' } %>
