<h1>Welcome <%= @user.email %><h1>

<h2>
<%= link_to "Feeds", user_feeds_path(@user) %>
<%= link_to "Flavors", flavors_path %>
<%= link_to "Fetch New Stories", fetch_user_stories_path %>
</h2>

<li><%= link_to "Log Out", destroy_user_session_path %></li>