<p>
  <li><%= link_to story.bsb_feed.title, story.bsb_feed.url, :target => "new" %></li>
  <li><b><%= link_to story.title, story.url, :target => "_blank", data: { keybinding: 'o' } %></b></li>
  <li><%= story.author %>
</p>
<p>
  <%= story.published %>
</p>
<p>
  <% if story.content %>
  <%= story.content.html_safe %>
  <% elsif story. summary %>
  <%= story.summary.html_safe %>
  <% end %>
</p>
<p> <%= "Score: #{story.score}" %>