<%= javascript_include_tag "shortcut.js " %>

<p id="notice"><%= notice %></p>


<%= link_to 'Prev', prev_feed_story_path(@bsb_feed), data: { keybinding: 'k' } %>
<%= link_to 'Next', next_feed_story_path(@bsb_feed), data: { keybinding: 'j' } %>

<%= render @story %>


<%= link_to 'Start',start_feed_story_path(@bsb_feed), data: { keybinding: 'q' } %>
<%= link_to 'Prev (k)', prev_feed_story_path(@bsb_feed) %>
<%= link_to 'Next (j)', next_feed_story_path(@bsb_feed) %>
<p></p>
<%= link_to 'Back', user_feeds_path(@user), data: { keybinding: 'b' } %> |
<%= link_to 'Refresh', refresh_bsb_feed_path(@bsb_feed), data: { keybinding: 'r' } %>
<%= link_to '', new_bsb_feed_path, data: { keybinding: 'a' } %>

<p>
  <b><%= link_to @bsb_feed.title, @bsb_feed.url %></b>
</p>

<p>
  <b>Last update:</b>
  <%= @bsb_feed.last_update %>
</p>

<p>
  <b>Read index:</b>
  <%= @bsb_feed.read_index %>
</p>