<%= javascript_include_tag "shortcut.js" %>


<%=javascript_tag "shortcut.add(\"j\",function() {
  $.ajax ({
    url: $(this).href,
    datatype: 'script'
    });
  return false;
});" %>
<%=javascript_tag "shortcut.add(\"k\",function() { alert(\"Hello!\"); });" %>
<p id="notice"><%= notice %></p>


<%= link_to 'Prev', prev_feed_story_path(@bsb_feed) %>
<%= link_to 'Next', next_feed_story_path(@bsb_feed) %>

<p>
  <b><%= link_to @stitle, @surl, :target => "_blank" %></b>
</p>
<p>
  <%= @spublished %>
</p>
<p>
  <%= @scontent %>
</p>


<%= link_to 'Start',start_feed_story_path(@bsb_feed) %>
<%= link_to 'Prev', prev_feed_story_path(@bsb_feed) %>
<%= link_to 'Next', next_feed_story_path(@bsb_feed) %>
<p></p>
<%= link_to 'Edit', edit_bsb_feed_path(@bsb_feed) %> |
<%= link_to 'Back', bsb_feeds_path %> |
<%= link_to 'Refresh', refresh_bsb_feed_path(@bsb_feed) %>

<p>
  <b><%= link_to @bsb_feed.title, @bsb_feed.url %></b>
</p>

<p>
  <b>Last update:</b>
  <%= @bsb_feed.last_update %>
</p>

<p>
  <b>Read index:</b>
  <%= @bsb_feed.read_index %>
</p>